<!DOCTYPE html>
<html lang="en">
<div class="p-3 mb-2 bg-secondary text-white"><head>
<!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/index">Home</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/logout">Despedirse</a>
          </li>
          </div>
  </nav>
		<meta charset="utf-8" />
		<title>Alta Sucursal</title>
		<!-- Bootstrap core CSS -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/css/modern-business.css" rel="stylesheet" />
	</head>
<body>
<div class="container">
    <h2>Sucursal detalle</h2>
    <div>
        <form class="form-horizontal" th:object="${sucursal}" th:action="@{/sucursal/create}" method="get">
                         
                          
            <div class="form-group">
                <label class="col-sm-2 control-label">Direccion:</label>
                <div class="col-sm-10">
                <input type="hidden" readonly class="form-control" th:field="*{idSucursal}"/>
                    <input type="text" class="form-control" th:field="*{direccion}"/>
                    
     
                </div>
            </div>
                        <div class="form-group">
                <label class="col-sm-2 control-label">mail:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{mail}"/>
                </div>
            </div>
             <div class="form-group">
                <label class="col-sm-2 control-label">latitud:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{latitud}"/>
                </div>
            </div>
             <div class="form-group">
                <label class="col-sm-2 control-label">longitud:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{longitud}"/>
                </div>
            </div>
             <div class="form-group">
                <label class="col-sm-2 control-label">telefono:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{telefono}"/>
                </div>
            </div>
                        
                <button type="submit" class="btn btn-primary">Actualizar</button>
            
        </form>
    </div>
</div>

</body>
<!-- Bootstrap core JavaScript -->
	    <script src="/vendor/jquery/jquery.min.js"></script>
	    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Grupo 18 - OO2- 2020</p>
    </div>
    <!-- /.container -->
  </footer>
</html>