<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sistema de Democratizacion de Stock</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index">Home</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/logout">Despedirse</a>
          </li>
          </div>
  </nav>

  <header>
    
  </header>

  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">Sistema de Democratizacion de Stock</h1>

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Locales</h4>
          <div class="card-body">
            <p class="card-text">ABM de locales y el calculo de distancias para obtener el local mas cercano</p>
          </div>
          <div class="card-footer">
            <a href="/sucursal" class="btn btn-primary">IR</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Clientes</h4>
          <div class="card-body">
            <p class="card-text">ABM de Clientes</p>
          </div>
          <div class="card-footer">
            <a href="/cliente" class="btn btn-primary">IR</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Empleados</h4>
          <div class="card-body">
            <p class="card-text">ABM de empleados. Gerente y vendedor</p>
          </div>
          <div class="card-footer">
            <a href="/empleado" class="btn btn-primary">IR</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- /.row -->   
    
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Grupo 18 - OO2- 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
